/*顶部logo*/
.headLogo{width: 100%;height: 51px;background-color: #2CA2F9;position: fixed;top: 0;padding: 10px;z-index: 1111}
.headLogo .logo{float: left;height: 100%}
.headLogo .search{float: right;height: 100%;padding: 3px}
.headLogo img{height: 100%}
/*nav标签*/
.headNav{position: fixed;top: 51px;left: 0;width: 100%;border-bottom: 1px solid #e4e4e4;z-index: 100}
.mint-tab-item-label{font-size: 16px;}
.mint-tab-item{text-decoration: none!important;}
.mint-navbar{padding: 0 10px}

/*列表*/
.main{margin-top: 102px;margin-bottom: 65px;transition: all .5s;-webkit-transition: all .5s;}
.marginBtm0{margin-bottom: 0}
.mint-cell{padding-left: 10px}
.mint-cell-wrapper{padding: 10px;background-image: none;border-bottom: 1px solid #e8e8e8;font-size: 14px}
.pList .mint-cell-text{position: absolute;left: 90px;top: 23px;overflow: hidden;padding-right: 40px;height: 16px;line-height: 16px;font-size: 14px;}
.pList .mint-cell-label{position: absolute;left: 90px;top: 38px}
.pList .mint-cell-label:before{content: '';display: inline-block;width: 12px;height: 12px;background: url("../images/icon_music.png") no-repeat center;background-size: 100%;margin-right: 5px;}
.singer{padding: 0 10px;width: 100%;overflow: hidden}
.cell-group {margin: 15px 0;width: 100%;border: 1px solid #e4e4e4;border-radius: 5px;background-color: #fbfbfb;}
.cell-item {padding: 12px 15px;font-size: 15px;border-bottom: 1px solid #e4e4e4;position: relative;}
.cell-item:last-of-type {border: none;}
.cell-item:after{content: '';display: block;position: absolute;width: 12px;height: 100%;background: url("../images/arrow_icon.png") no-repeat center;background-size: 12px;top: 0;right: 15px}

/*Player*/
.player{position: fixed;bottom: 0;left: 0;width: 100%;transition: all .5s;-webkit-transition: all .5s;}
.audioControl{width: 35px;height: 35px;border-radius: 50%;background: rgba(0,0,0,.8) url('../images/close_icon.png') no-repeat center;background-size: 25px;margin-left: 10px;margin-bottom: 10px;overflow: hidden;}
.audioPanelHide .audioControl{background: rgba(0,0,0,.8) url('../images/open_icon.png') no-repeat center;background-size: 25px;}
.audioPanelHide{bottom: -65px;}
.audioPanel{z-index: 999;width: 100%;height: 64px;background-color: rgba(0,0,0,0.8);padding: 7px;}
.panelImg{height: 100%;float: left}
.playerDetail{float: left;color: #fff;padding: 7px 10px;width: 50%}
.playerTitle{font-size: 16px;margin-bottom: 2px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.playerControl{float: right;width: 30%;height: 100%}
.playerControl span{width: 45%;height: 100%;display: inline-block;}
.playerPlay{background: url('../images/play_icon.png') no-repeat center;background-size: auto 72%;}
.playerPause{background: url('../images/pause_icon.png') no-repeat center;background-size: auto 72%;}
.playerNext{background: url('../images/next_icon.png') no-repeat center;background-size: auto 70%;}


/*detailPlayer*/
.detailPlayerBg{position: fixed;width: 100%;height: 100%;top: 0;left: 0;z-index: 1010;background-position: center;background-size: cover;background-repeat: no-repeat;}
.detailPlayerContent{position: fixed;width: 100%;height: 100%;left: 0;top:0;background-color: rgba(0,0,0,.5);z-index: 1011;}
.detailPlayerTop{height: 60px;padding: 10px 30px 10px 10px;font-size: 20px;color: #fff;text-align: center;line-height: 40px;margin-top: 51px}
.back{float: left;background: url("../images/goback_icon.png") center no-repeat;width: 24px;height: 100%;display: inline-block;background-size: 60% 60%;}
.detailPlayerImg{width: 50%;margin: 30px auto;}
.detailPlayerLrc{width: 100%;height: 60px;overflow: hidden;text-align: center;color: #fff;line-height: 20px;}
.detailPlayerLrc .lrcContent{transition: all .5s;transform: translateZ(0);}
.detailPlayerRange{display: flex;padding: 10px;}
.detailPlayerTime{color: #fff;width: 12%;text-align: center;line-height: 30px;font-size: 12px;}
#playRange{width: 75%}
.mt-range-thumb{width: 16px;height: 16px;top: 7px;}
.detailPlayerControl{width: 65%;height: 90px;margin: 0 auto;}
.detailPlayerControl span{width: 32%;height: 100%;display: inline-block;}
.detailPrev{background: url('../images/play_prev.png') no-repeat center;background-size: auto 60%;}
.detailPlay{background: url('../images/play_play.png') no-repeat center;background-size: auto 80%;}
.detailNext{background: url('../images/play_next.png') no-repeat center;background-size: auto 60%;}
.detailPlay.detailPause{background: url('../images/play_pause.png') no-repeat center;background-size: auto 80%;}


/*rankInfo*/
.rankHead{width: 100%;height: 43px;position: fixed;background: rgba(43, 162, 251, 0);top: 51px;z-index: 999;color: #fff;font-size: 18px;text-align: center;line-height: 43px;}
.rankInfoBanner{width: 100%;height: 200px;background-position: center;background-repeat: no-repeat;background-size: 100%;position: relative;margin-top: -52px;transition: all .2s;-webkit-transition: all .2s;}
.updateTime{position: absolute;bottom: 0;left: 0;color: #fff;font-size: 16px;background: -webkit-linear-gradient(bottom,rgba(0,0,0,.6),rgba(0,0,0,0));width: 100%;height: 43px;line-height: 50px;padding: 0 10px;}
.rankInfoList .rankIndex{position: absolute;left: 20px;}
.rankGood{padding: 2px 8px;border-radius: 8px;color: #fff;left: 12px!important;}
.rankFirst{background-color: #E80000;}
.rankSecond{background-color: #FF7200;}
.rankThird{background-color: #F8B300;}
.goBack{float: left;width: 24px;height: 100%;background: url('../images/goback_icon.png') no-repeat center;background-size: 50% 50%;position: absolute;left: 5px;top: 0;}


/*plistInfo*/
.plistInfo .rankInfoBanner,.singerInfo .rankInfoBanner{height: 250px;}
.plistDetail{padding: 10px;border-bottom: 5px solid #e5e5e5;font-size: 16px;line-height: 26px;position: relative}
.plistDetail p{padding-right: 40px;overflow: hidden;height: 26px;}
.plistDetail .plistDetailShow{background: url("../images/close_icon.png") no-repeat center;background-size: 100% 100%;width: 24px;height: 24px;position: absolute;right: 10px;top: 10px;}
.showDetail p{height: auto}
.showDetail .plistDetailShow{background: url("../images/open_icon.png") no-repeat center;background-size: 100% 100%;width: 24px;height: 24px;position: absolute;right: 10px;top: 10px;}
